.form-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form.group {
  margin-right: 10px;
}

.rsvp h2 {
  color: #fff8ea;
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}

.rsvp {
  padding-top: 6rem;
  padding-bottom: 9rem;
  margin-top: 0%;
}

.rsvp {
  font-size: 1rem;
  font-weight: 300;
}

.rsvp {
  background-color: #594545;
}

.rsvp h2 {
  font-size: 4.5rem;
}

/* .rsvp p {
  color: white;
} */

.rsvp p {
  text-transform: uppercase;
  color: #fff8ea;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.rsvp label {
  color: #fff8ea;
  font-family: "Lato";
}

.rsvp button {
  background-color: #815b5b;
  color: white;
  border: 1px solid #815b5b;
  margin-top: 10px;
  font-family: "Lato";
}

.rsvp button:hover {
  background-color: #9e7676;
  color: white;
  border: 1px solid #9e7676;
  height: 45px;
  width: 70px;
}

@media screen and (max-width: 576px) {
  .rsvp h2 {
    font-size: 32px;
  }

  .rsvp p {
    font-size: 8px;
  }

  .rsvp button {
    font-size: 10px;
  }

}
