.info {
  background-color: #594545;
  color: rgb(18, 17, 17);
  padding-top: 10rem;
  padding-bottom: 8rem;
  margin-bottom: 30px;
}

.info h2 {
  color: #fff8ea;
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}

.story h2 {
  color: rgb(46, 41, 41);
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}

.info .alamat {
  font-size: 1.1rem;
  font-family: "Lato";
  color: #fff8ea;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Lato";
  color: #fff8ea;
}

.btn-light {
  background-color: #fff8ea;
  color: #815b5b;
}

.info .card {
  background-color: #9e7676 !important;
  color: black !important;
  border: 1px solid #060505;
}

.info .card-header {
  border-bottom: 1px solid #030303;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff8ea;
}

.info .card-body {
  font-size: 0.9rem;
  color: #fff8ea;
}

.info .card-footer {
  border-top: 1px solid #030303;
  font-size: 1rem;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline-area .main {
  background-image: url(../img/bckInfo5.jpg);
  background-size: cover;
  margin-top: -100px;
  padding-top: 300px;
  padding-bottom: 20px;
}
.timeline-area h1 {
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}
.main {
  width: 100%;
  height: auto;
  background-color: rgb(253, 250, 250);
  font-family: mukta;
  padding: 50% 0%;
  display: grid;
  place-items: center;
}
.main .heading {
  font-size: 60px;
  color: #594545;
  position: relative;
  margin-bottom: 80px;
  margin-left: 25px;
}
.heading::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  left: 30%;
  bottom: -5px;
  background-image: linear-gradient(to right, rgba(18, 13, 13, 0.2), rgba(125, 5, 5, 0.594));
  transform: translateX(-25px);
}

.container,
.container1 {
  width: 70%;
  height: auto;
  position: relative;
}
.container1::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(18, 13, 13, 0.2), rgba(125, 5, 5, 0.594));
}
.container ul,
.container1 ul {
  list-style: none;
}
.container ul li,
.container1 ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: #ffffff;
  box-shadow: 1px 1px 25px rgba(186, 145, 145, 0.619);
  border-radius: 10px;
  margin-bottom: 30%;
  z-index: 99;
  position: relative;
}
.container ul li:nth-child(odd),
.container1 ul li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-30px);
  text-align: left;
}
.container ul li:nth-child(odd),
.container1 ul li:nth-child(odd),
.date {
  right: 50px;
}

.container ul li:nth-child(even),
.container1 ul li:nth-child(even) {
  float: right;
  clear: left;
  left: 35px;
  transform: translateX(35px);
}

.container ul li:nth-child(7),
.container1 ul li:nth-child(7) {
  margin-bottom: 0;
}
.container ul li,
.container ul li,
.title {
  font-size: 20px;
  font-weight: 500;
  color: rgba(84, 6, 6, 0.619);
}
ul li p {
  font-size: 15px;
  color: #444;
  margin: 7px 0;
  line-height: 23px;
}
ul li a {
  font-size: 15px;
  color: rgba(163, 139, 174, 0.619);
  text-decoration: none;
}
ul li .date {
  position: absolute;
  top: -40px;
  width: 135px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(to right, rgba(18, 13, 13, 0.2), rgba(125, 5, 5, 0.594));
  display: grid;
  place-items: center;
  font-size: 14px;
}

.container ul li .circle,
.container1 ul li .circle {
  width: 30px;
  height: 30px;
  background-color: rgb(234, 203, 203);
  border-radius: 50%;
  position: absolute;
  top: 0;
}
.container ul li .circle::after,
.container1 ul li .circle::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(157, 140, 140);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container ul li:nth-child(odd),
.container1 ul li:nth-child(odd) .circle {
  right: -50px;
  transform: translate(50%, -50%);
}
.container ul li:nth-child(even),
.container1 ul li:nth-child(even) .circle {
  left: -34px;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1240px) {
  .container,
  .container1 {
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  .container,
  .container1 {
    width: 80%;
  }
  .container::after,
  .container1::after {
    left: -3%;
  }
  .container ul li,
  .container1 ul li {
    width: 80%;
    float: none;
    clear: none;
    margin-bottom: 80px;
    /* margin-left: 50px; */
  }
  .container ul li:nth-child(odd),
  .container1 ul li:nth-child(odd) {
    transform: translateX(0);
    text-align: left;
    margin-left: 56px;
  }

  .container ul li:nth-child(odd),
  .container1 ul li:nth-child(odd) .date {
    left: 5px;
    margin-bottom: 10px;
  }
  .container ul li:nth-child(odd),
  .container1 ul li:nth-child(odd) .circle {
    left: -37px;
    transform: translate(-50%, -50%);
  }
  .container ul li:nth-child(even),
  .container1 ul li:nth-child(even) {
    transform: translateX(0);
    text-align: left;
    margin-right: 106px;
  }

  .container ul li:nth-child(even),
  .container1 ul li:nth-child(even) .circle {
    right: -200px;
    transform: translate(-50%, -50%);
  }
}
